body {
  margin: 0;
  height: 100%;
}
.header {
  font-family: Montserrat;
  font-weight: 700;
  background-color: rgba(255, 153, 0, 255);
  display: flex;
  flex-direction: row;
  width: 100%;
}

.left-section {
  display: flex;
}

.logo-icon {
  width: 200px;
}

.logo {
  display: flex;
}

.menu {
  color: rgba(31, 31, 31);
  padding-left: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.right-section {
  display: flex;
  align-items: center;
  padding-right: 30px;
  margin-left: auto;
}

.sign-up {
  width: 80px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  border: none;
  color: rgba(255, 153, 0);
  background-color: rgba(31, 31, 31, 255);
  cursor: pointer;
}

.sign-up:hover {
  transform: scale(1.05);
}
.sign-up:active{
  transform: scale(1);
}

.search-icon {
  padding-left: 20px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  .logo {
    display: flex;
  }
  .logo-icon {
    width: 120px;
  }

  .menu {
    display: none;
  }

  .right-section {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .sign-up {
    width: 80px;
    height: 30px;
    font-size: 14px;
  }

  .search-icon {
    width: 24px;
    height: 24px;
    padding: 0;
  }
}
.preview {
  background-image: url("icons/Helldivers2-max.webp");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  height: 470px;
  position: relative;
}

.main-content {
  padding-top: 70px;
  padding-left: 90px;
  display: flex;
  flex-direction: column;
  position: absolute;
}
.game-icon {
  width: 35%;
  display: flex;
}
.preview-text {
  width: 40%;
  height: 100%;
  color: white;
  font-family: Roboto, Arial;
  font-weight: 300;
  padding-top: 40px;
}
.button {
  display: flex;
  justify-content: center;
}
.btn-primary {
  border: none;
  background-color: white;
  width: 120px;
  height: 40px;
  border-radius: 50px;
  font-size: large;
  font-family: Roboto, Arial;
  font-weight: 700;
  cursor: pointer;
  margin-top: 20px;
}
.btn-primary:hover {
  background-color: rgb(255, 255, 255);
  transform: scale(1.05);
}
.btn-primary:active{
  transform: scale(1);
}

@media (max-width: 1024px) {
  .preview {
    background-image: url("icons/Helldivers2-768.webp");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media (max-width: 768px) {
  .preview {
    background-image: url("icons/Helldivers2-328.webp");
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .main-content {
    padding: 20px;
    align-items: center;
    padding-top: 30px;
  }

  .game-icon,
  .preview-text {
    width: 90%;
    text-align: center;
  }

  .button {
    justify-content: center;
  }
}
.game-grid {
  display: flex;
  padding-top: 10px;
  padding-left: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(125, 115, 115);
}
.game-info {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}
.game-info:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.game-logo {
  width: 150px;
  border-radius: 20px;
}
.game-text {
  font-family: Roboto, Arial;
  font-size: 14px;
  font-weight: 700;
  padding-top: 8px;
}
